<html>
    <head>
        <title>Contato</title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
         <div class="container">
            <h1>Olá meu github é {{ . }}</h1> 
            <div class="row">
                <div class="col">
                    <button><a href="/">Home</a></button>
                </div>
                <div class="col">
                    <button><a href="/detalhes">Detalhes</a></button>
                </div>
            </div>
        </div>
    </body>
</html>