<html>
    <head>
        <title>Detalhes</title>
        {{ bootStrapURL }}
    </head>
    <body>
        <div class="container">
            <h1>Como to aprendendo não tenho muito o que ensinar</h1>
            <div class="row">
                <h2>As lingugens que sei</h2>
                <ul class="list-group">
                    <li class="list-group-item">{{ lang.Languages["Python"] }}</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                </ul>
            </div>
        </div>
    </body>
</html>