<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
  <body>
    {{ if . }}
      <div class="error">{{ . }}</div>
    {{ end }}

    <form method="POST">
       Username: <input name="username">
       Password: <input name="password">
       <div>
         <button type="submit">Login</button>
       </div>
    </form>
  </body>
</html>